{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/strict-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "root": true,
    "rules": {
        "no-console": "error",
        "prettier/prettier": "error",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/return-await": "error"
    }
}
